---
import logoImage from '../assets/images/tipie.png';
---

<a href="/" class="hidden md:inline-block">
  <img src={logoImage.src} alt="TIP Industrial Engineering Department" class="h-24" style="height: 86px; object-fit: contain;" />
</a>

