---
import Layout from '~/layouts/PageLayout.astro';
// Import only necessary modules
import type { MetaData } from '~/types';

export interface Props {
  frontmatter: {
    title?: string;
  };
}

const { frontmatter } = Astro.props;

const metadata: MetaData = {
  title: frontmatter?.title,
};
---
<style>
  .hero-background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
  }

  .shine {
    position: absolute;
    width: 100%;
    height: 100%;
  }
</style>

<Layout metadata={metadata}>
  <section class="bg-transparent px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-4xl">

    <h1 class="bg-transparent font-medium font-heading text-3xl md:text-2xl leading-tighter tracking-tighter text-nowrap text-center">
      {frontmatter.title}
    </h1>
    <div class="mx-auto prose prose-lg max-w-4xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-yellow-600 dark:prose-a:text-yellow-400 prose-img:rounded-md prose-img:shadow-lg mt-8">
      <slot />
    </div>
  </section>
</Layout>



