---
import Layout from '~/layouts/PageLayout.astro';
import LeadershipMessage from '~/components/widgets/LeadershipMessage.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import CookieConsent from '~/components/ui/CookieConsent.astro';

import Types from '~/types'

const metadata = {
  title: 'Technological Institute of the Philippines Industrial Engineering Department | Excellence & Innovation',
  ignoreTitleTemplate: true,
};
---



<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <CookieConsent />

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Learn more',
        href: '/about-tip',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
    image={{ src: '~/assets/images/hero-image.webp', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Technological Institute of the Philippines
      <br />
      <span class="text-accent dark:text-white highlight">Industrial Engineering Department</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">TIP IE Department</span> is dedicated to excellence in teaching, innovation, and research
        in Industrial Engineering.
      </span>
      <span class="block mb-1 sm:hidden font-bold text-yellow-600">TIP IE Dept: Excellence & Innovation.</span>
      Offering a comprehensive curriculum that prepares students for leadership in the engineering field. Engaging with industry
      partners, providing students with real-world experience and job opportunities.
    </Fragment>
    
  </Hero>



  <BlogLatestPosts
  title="Explore Our Latest News for Exciting Updates!"
  information="Our blog features the latest advancements, student awards, and Events in Industrial Engineering. Dive into articles that showcase the innovative work of our Industrial Engineering community at TIP-Manila."
 />

  <Features
    id="features"
    tagline="Program Highlights"
    title="Why Industrial Engineering at TIP?"
    subtitle="Discover the unique advantages of pursuing your IE degree with us. A leading choice for future engineers."
    items={[
      {
        title: 'Blend of Technology, Productivity, and Human Well-being',
        description:
          'Industrial engineering seamlessly integrates technology, productivity enhancement, and human welfare, offering a holistic approach to problem-solving.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Resource Optimization',
        description:
          'Industrial engineers harness diverse resources such as people, data, materials, finances, and technology to efficiently and responsibly craft high-quality goods and services.',
        icon: 'tabler:components',
      },
      {
        title: 'Orchestra Conductors of Production',
        description:
          'Industrial engineers act as conductors in the production world, orchestrating systems to ensure optimal performance, safety, and quality. They design and optimize processes, from production planning to product quality assurance.',
        icon: 'tabler:list-check',
      },
      {
        title: 'System Design and Optimization',
        description:
          'Industrial engineers design efficient factory layouts, analyze production processes, and implement quality control measures to enhance overall system performance.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Fascinating Manufacturing Processes',
        description:
          'For those intrigued by intricate manufacturing processes, industrial engineering offers an opportunity to delve deep into understanding and optimizing these systems.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Creating Better Work Environment',
        description:
          ' Industrial engineers are passionate about creating work environments that are safe, comfortable, and conducive to productivity, thus making a tangible difference in the lives of workers.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <Note />

  <LeadershipMessage
  id="department-head-corner"
  title="Message from the Program Chair of Industrial Engineering"
  leader={{
    name: "Dr. Maria Teresa Mendoza, PIIE, ASEAN Engineer",
    profilePicture: {
      src: "https://firebasestorage.googleapis.com/v0/b/tip-ie-dev.appspot.com/o/Faculty%26Admin%2F(RESIZED)%20Dr.%20Maria%20Teresa%20Mendoza.png?alt=media&token=42df8779-93eb-46b7-8747-1d0b0a1666b5",
      alt: "Dr. Maria Teresa Mendoza, Program Chair of Industrial Engineering at TIP"
    },
    bio: "Dr. Maria Teresa Mendoza is a highly accomplished professional with extensive experience in both academia and industry. As a Program Chair of Industrial Engineering at TIP Manila, she has demonstrated exceptional leadership and expertise in shaping the future of industrial engineering education. With a deep passion for engineering and education, Dr. Mendoza has dedicated her career to advancing the field of industrial engineering and nurturing the next generation of engineering professionals.",
    vision: "Program Chair's Corner"
  }}
  welcomeMessage="  As Program Chair of Industrial Engineering at TIP Manila, I've witnessed education's transformative power. Let's shape future engineers with values of excellence. Engineers are crucial in our interconnected world. As members of PIIE and ASEAN Engineers, we drive sustainable change. Let's tackle challenges together, turning them into opportunities. Together, we can innovate for a better world."
  blockQuote={{
    quote: "Welcome to the Industrial Engineering Department, where our commitment to excellence drives us to constantly push the boundaries of what's possible. Our program is designed to equip you with the skills needed to excel in a rapidly changing industrial landscape.",
    author: "Dr. Maria Teresa Mendoza",
    position: "Program Chair of TIP Manila Industrial Engineering"
  }}
  callToAction={{
    text: "Learn more",
    url: "/industrial-engineering"
  }}
/>



  <!-- Content Widget: Industrial Engineering Focus **************** -->

  <Content
    isReversed
    tagline="Our Focus"
    title="Empowering Future Industrial Engineers"
    items={[
      {
        title: 'Comprehensive Curriculum',
        description:
          'Our curriculum is designed to challenge and inspire our students, blending theoretical knowledge with practical application in areas such as systems analysis, operations research, and production planning.',
      },
      {
        title: 'International Accreditation',
        description:
          'Accreditation from prestigious international accrediting bodies for Engineering, including ABET (Accreditation Board for Engineering and Technology). This accreditation signifies that the department maintains rigorous standards of academic excellence and program quality worldwide.',
      },
      {
        title: 'Industry Partnerships',
        description:
          'Our strong connections with leading companies provide students with internship opportunities, real-world projects, and networking that pave the way for successful careers.',
      },
    ]}
    image={{
      src: 'https://firebasestorage.googleapis.com/v0/b/tip-ie-dev.appspot.com/o/T.I.P._Beauty_Shot_2.original.jpg?alt=media&token=ba8bdfb6-3fe9-4f56-83f8-a51cfd879bd3',
      alt: 'Engineering Innovation',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">A Foundation for Success</h3>
      Our program is committed to developing not just skilled engineers, but also innovative thinkers and leaders prepared
      for the challenges of tomorrow.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget: Student Life and Achievements **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Vibrant Student Life',
        description: `Experience a supportive and dynamic campus life with organizations, seminars, and events designed to enhance your personal growth and leadership skills.`,
      },
      {
        title: 'Notable Research Achievements',
        description:
          'Our students consistently excel in national and international competitions, showcasing their innovation and expertise on a global stage.',
      },
      {
        title: 'Community Engagement',
        description:
          'We believe in the power of engineering to transform communities. Our students participate in various programs, applying their skills to solve real-world problems and make a positive impact.',
      },
    ]}
    image={{
      src: 'https://firebasestorage.googleapis.com/v0/b/tip-ie-dev.appspot.com/o/hero%20(2).jpg?alt=media&token=f847b28f-faa5-417b-a33b-aa20cb1c29fa',
      alt: 'Student Life at TIP',
    }}
  >
    <Fragment slot="content">Join our community of forward-thinkers.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


 


  <Content
    isAfterContent
    items={[
      {
        title: 'Technological Innovation',
        description: `Our department is at the forefront of integrating cutting-edge technologies and methodologies to enhance both learning and practical applications in the field of industrial engineering.`,
      },
      {
        title: 'Engagement with Industry',
        description:
          'Strong partnerships with industry leaders provide students with unparalleled opportunities for internships, cooperative education, and real-world problem solving.',
      },
      {
        title: 'Sustainability and Social Responsibility',
        description:
          "We're committed to projects and research that not only advance technological capabilities but also promote sustainability and social responsibility in engineering practices.",
      },
      {
        title: 'Global Opportunities',
        description:
          'Prepare for a global career with our international programs and collaborations, offering students global perspectives and experiences in industrial engineering.',
      },
    ]}
    image={{
      src: 'https://firebasestorage.googleapis.com/v0/b/tip-ie-dev.appspot.com/o/building.jpg?alt=media&token=a630d8f8-255d-4868-86a1-0b16b73e2e61',
      alt: 'Innovation in Engineering',
    }}
  >
    <Fragment slot="content">Innovation at the heart of Industrial Engineering.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>





  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Admissions Process',
        description:
          'Begin your journey to becoming an industrial engineer. Discover the steps for applying to our program, from initial inquiry to enrollment.',
      },
      {
        title: 'Scholarships and Financial Aid',
        description:
          'Explore our range of scholarships and financial aid options designed to support students in their education and career aspirations.',
      },
      {
        title: 'Career Development',
        description:
          'With our dedicated career services, students are prepared for successful careers through internships, mentorships, and placement services.',
      },
      {
        title: 'Alumni Network',
        description: `Join a vibrant community of alumni who are leaders in their fields. Our alumni network provides support, resources, and opportunities for lifelong professional growth.`,
      },
    ]}
    image={{
      src: 'https://firebasestorage.googleapis.com/v0/b/tip-ie-dev.appspot.com/o/computer.jpg?alt=media&token=799f3edc-f3d5-47c2-9432-6cda90ccd6df',
      alt: 'Path to Engineering Excellence',
    }}
  >
    <Fragment slot="content">Your pathway to becoming a leader in Industrial Engineering.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget: How to Join the IE Department at TIP **************** -->

  <Steps
    title="Start Your Journey in Industrial Engineering at TIP"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Inquire</span>',
        description:
          'Visit our admissions page or contact us directly to learn more about the Industrial Engineering program. Our team is ready to assist you with any questions you might have.',
        icon: 'tabler:info-circle',
      },
      {
        title: 'Step 2: <span class="font-medium">Apply</span>',
        description:
          'Complete your application through our online portal. Submit all required documents, including academic records and recommendation letters, to secure your place in the next academic cycle.',
        icon: 'tabler:edit',
      },
      {
        title: 'Step 3: <span class="font-medium">Prepare</span>',
        description:
          'Once accepted, take the necessary steps to prepare for your academic journey. This includes attending orientation, registering for classes, and getting involved in student organizations.',
        icon: 'tabler:clipboard-list',
      },
      {
        title: 'Welcome!',
        description:
          "You're now part of the TIP Industrial Engineering family! Embark on this exciting journey towards becoming a leader in innovation and efficiency.",
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://firebasestorage.googleapis.com/v0/b/tip-ie-dev.appspot.com/o/enroll.png?alt=media&token=3ae53bbc-042d-4f38-90e2-039d093bdb6c',
      alt: 'Engineering Students at TIP',
    }}
  />

  <!-- Features2 Widget: IE Department Highlights **************** -->

  <Features2
    title="Key Features of the IE Program at TIP"
    subtitle="What sets our Industrial Engineering program apart"
    tagline="Highlights"
    items={[
      {
        title: 'Comprehensive Curriculum',
        description:
          'Our curriculum is designed to cover all facets of Industrial Engineering, ensuring a well-rounded education.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'State-of-the-Art Labs',
        description:
          'Equipped with the latest technology, our labs offer students hands-on experience that prepares them for the real world.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Industry Partnerships',
        description:
          'Collaborations with leading companies provide students with internship opportunities and exposure to industrial practices.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Dynamic Faculty',
        description:
          'Our faculty includes competent professors and experienced professionals, offering insights into both theory and practice.',
        icon: 'flat-color-icons:manager',
      },
      {
        title: 'Career Readiness',
        description:
          "Our program's focus on practical skills ensures graduates are ready to meet the demands of the industry.",
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Scholarship Opportunities',
        description: 'We offer a variety of scholarships to support students financially throughout their studies.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Alumni Network',
        description:
          'Our extensive alumni network opens doors to mentorship opportunities and professional connections.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Student Support Services',
        description:
          'From academic counseling to career services, our dedicated staff is here to support students every step of the way.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Innovative Research',
        description:
          "We're at the forefront of research in Industrial Engineering, pushing boundaries and innovating solutions.",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Get answers to common questions about our Industrial Engineering program."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why choose Industrial Engineering at TIP?',
        description:
          'Our program is known for its comprehensive curriculum, state-of-the-art facilities, and strong industry connections, preparing students for successful careers.',
      },
      {
        title: 'How can I apply?',
        description:
          'Applying to our program is easy! Visit our admissions page for detailed instructions and requirements.',
      },
      {
        title: 'What are the career prospects?',
        description:
          'Graduates can pursue various roles in manufacturing, systems engineering, operations research, and more, with many alumni holding leadership positions across industries.',
      },
      {
        title: 'Do you offer internships?',
        description:
          'Yes, we have partnerships with leading companies and organizations to offer our students valuable internship opportunities.',
      },
      {
        title: 'Can I get involved in research?',
        description:
          'Absolutely! We encourage our students to engage in research projects with our faculty, often resulting in published papers and conference presentations.',
      },
      {
        title: 'Are there opportunities for international exposure?',
        description:
          'Definitely. We offer various international exchange programs and collaborations that allow students to gain global perspectives and experiences, enhancing their education and career prospects.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Enrolled Students in Second Semester', amount: '150+' },
      { title: 'Faculty Members', amount: '5+' },
      { title: 'Research Projects', amount: '120+' },
      { title: 'Graduates SY 2022-2023', amount: '62+' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Apply Now',
        href: '/admissions',
        target: '_self',
      },
      {
        variant: 'secondary',
        text: 'Contact Us',
        href: '/contact',
        target: '_self',
      },
    ]}
  >
    <Fragment slot="title"> Join the Future of Industrial Engineering </Fragment>

    <Fragment slot="subtitle">
      Take the first step towards an exciting career by applying to the Industrial Engineering program at TIP. Discover
      how you can make a difference in the world with us.
    </Fragment>
  </CallToAction>
</Layout>
